# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# Environment variables
.env

# Logs
*.log

# Distribution
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db